set timeout=10
menuentry 'Install Red Hat Enterprise Linux 8' --class fedora --class gnu-linux --class gnu --class os {
linuxefi bios/rhel8/vmlinuz inst.repo={{ repo_url }} ip=dhcp
initrdefi bios/rhel8/initrd.img
}
